@import "compass/css3/box-shadow";

.profile{
    height: $profile-size;
    width: $profile-size;
    margin-top: -($profile-size / 2);
    margin-left: 5%;
}
.profile-img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-color: $yellow;
    border-style: solid;
    border-radius: 50%;
	background:url(img/profile64.jpg) no-repeat;
    @include single-box-shadow(4px, 9px, 15px, 6px, $shadow-strong);
}