@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

@import "compass/utilities/general/clearfix";

/* Variables */
$shadow: rgba(#333333, 0.54);
$shadow-strong: rgba(#333333, 0.87);
/* TEXT DESIGN */
$text: #212121;
$text-strong: rgba(#000, 0.87);
$text-light: rgba(#000, 0.54);
$text-offset: 10px!default;

$font-size-h1: 22px;
$font-size-h2: 18px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-article: 14px;
$font-size-article-title: 14px;

$background-img: 'pepper320.jpg';

/* COLOR THEME */
$yellow: #fdd835;
$pink: #e7356e;
$blue: #0277bd;
$blue-darker: #01579b;
$green: #1d9370;
$purple: #8e24aa;
$white: #fafafa;

$profile-size: 64px;
$header-height: 18%;
$footer-height: 2%;
$section-height: (100% - $footer-height - $header-height);

@import "base/base";
@import "layout/flex";
@import "layout/accordion";
@import "module/header";
@import "module/nav";
@import "module/content";
@import "module/article";
@import "module/section";
@import "module/footer";

//@media 