@import "compass/css3/background-size";

.container{
	width: 1170px;
	margin: 0 auto;
	z-index: 5;
	position: relative;
	@include clearfix;
}

$columns: 12!default;
$gutter: 20px!default;
$medium: 640px;
$large: 1024px;

@mixin responsive-col($suffix: 's'){
	@for $i from 0 through $columns{
		@if $i != 0 {
			.col-#{$suffix}-#{$i}{ width: $i / $columns * 100%; }
		}
		.col-#{$suffix}-push-#{$i}{ left: $i / $columns * 100%; }
		.col-#{$suffix}-pull-#{$i}{ left: $i / $columns * 100%; }
	}
}

%col{
	float: left;
    position: relative;
    min-height: 1px;
    padding: 0 $gutter * 0.5;
    background-color: rgba(#000, 0.2);
    border: 1px solid rgba(#000, 0.4);
}

.row{
	margin: 0 $gutter * -0.5;
	@include clearfix;
}

.col-center{ margin: 0 auto; float: none; }
@for $i from 1 through $columns{
	.col-#{$i}{
		@extend %col;
		width: $i / $columns * 100%;
	}
	.col-push-#{$i}{ left: $i / $columns * 100%; }
	.col-m-#{$i}, .col-l-#{$i}{ @extend %col; }
}
@include responsive-col('m');

@media only screen and (min-width: $medium){
	.col-m-center{ margin: 0 auto; float: none; }
	@include responsive-col('m');
}

@media only screen and (min-width: $large){
	.col-l-center{ margin: 0 auto; float: none; }
	@include responsive-col('l');
}
