@import "compass/css3/box-sizing";

*{
	@include box-sizing(border-box);
}
html, body{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.1;
	font-family: 'Open Sans', sans-serif;
	color: rgba(#000, 0.87);
	
	// background-color: $white;
}
a{ 
	color: inherit; 
	text-decoration: none;
}
b { text-transform: uppercase; }
h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-header-title;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h2{
	font-size: 20px;
	line-height: 1.1;
	color: $text;
}
p{
	padding: 0;
	margin: 0;
}
.cb{ clear: both;}