@import "../layout/flex";

.footer{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
 //position: relative;
 //z-index: 10;
 //height: 3em;
 //margin-top: -3em;

    height: $footer-height;
    // background-color: $white;
    @include background-size(cover);

    //@include sticky-footer($footer-height);

    //@include transform-origin(100, 0);
    //@include transform(skewY(-2deg));
}