@import "compass/css3/box-shadow";

.header{
    height: $header-height;
    border: 1px 1px 0 0 solid $shadow;
    overflow: hidden;

    background:url(img/$background-img) top;

    justify-content: space-between;

    @include background-size(cover);
    @include single-box-shadow(4px, 4px, 15px, 3px, $shadow);
    @include clearfix;
}

.profile{
    height: $profile-size;
    width: $profile-size;
    margin-bottom: 2.5%;
    margin-left: 2.5%;

    align-self: flex-end;
}
.profile-img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-color: $blue-darker;
    border-style: solid;
    border-radius: 50%;
    background:url(img/profile64.jpg) no-repeat;
    @include single-box-shadow(4px, 4px, 15px, 3px, $shadow);
}
.header-content{
    & .header-title{
        margin-top: 2%;
        padding-left: 4px;
        border-left: 4px solid $blue-darker;
        background-color: rgba($white, 1);
    }
    & .header-subtitle{
        font-weight: 400;
        letter-spacing: -1px;

        margin-top: 2px;
        padding-left: 4px;

        border-left: 4px solid $blue-darker;
        background-color: rgba($white, 1);
    }
}