@import "compass/css3/transform";

.section{
    color: $text;
	margin-left: 5%;
	margin-right: 5%;
    //border: 1px 1px 0 0 solid $shadow;
	//border-radius: 0 0 5.5125px 0;
	z-index: 5;
	position: relative;
    overflow: hidden;
    background-color: $WHITE;
	
	@include background-size(cover);
    @include single-box-shadow(4px, 4px, 20px, -6px, $shadow);


	// &:before, &:after{
	// 	content: '';
	// 	display: block;
	// 	//background-color: rgba(#FF0000, 0.4);
	// 	background-color: #FFF;

	// 	position: absolute;
	// 	top: 0; left: 0; right: 0; bottom: 0;
	// 	z-index: 4;
		
	// 	@include transform-origin(0, 0);
	// 	@include transform(skewY(-2deg));
	// }
	// &:after{
	// 	background-color: #FFF;
	// 	@include transform-origin(100%, 0);
	// }
}
.section-title{
	@include clearfix;
	h1{
		float: left;
		width: 180px;
		margin: 0;
		padding: 0 20px 0 0;

		text-align: right;
		text-transform: uppercase;
		color: #000;
		line-height: 45px;

		border-right: 4px solid $BLUE;
	}
	p{
		float: right;
		width: 950px;
		margin: 0;
		padding: 0;

		line-height: 25px;
		text-transform: uppercase;
	}
}