@import "compass/css3/transform";

.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;

    min-height: $section-height;
}
%article{
    flex: 1 1 auto;
    min-height: 100%;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.article-resume{
    @extend %article;

    & > .article-resume-title-purple{
        background-color: $purple;
        @include background-size(cover);
    }
    & > .article-resume-article{
        padding-left: 16px;
        padding-right: 16px;
        & > .article-resume-article-title-purple{
            color: $purple;

        }
    }
}
